<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Listing restaurants</h1>

    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <% @restaurants.each do |r| %>
        <tr>
          <td><h2><%= link_to r.name, restaurant_path(r) %></h2></td>
          <td><%= r.description %></td>
          <td><%= link_to 'Show', restaurant_path(r) %></td>
          <% if user_signed_in? %>

         <% if r.user_id == current_user.id %>
            <td><%= link_to 'Edit', edit_restaurant_path(r) %></td>
            <td><%= link_to 'Delete', restaurant_path(r),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
        </tr>
      <% end %>
    </table>

  </body>
</html>
