<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

  <h2>Reviews</h2>
  <% @restaurant.reviews.each do |review| %>
    <p>
      <strong>Commenter:</strong>
      <%= review.commenter %>
    </p>

    <p>
      <strong>Review:</strong>
      <%= review.body %>
    </p>
  <% end %>

<h2>Add a review:</h2>
<%= form_with(model: [ @restaurant, @restaurant.reviews.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.label :rating %><br>
    <%= form.text_field :rating %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
